@import "bootstrap";
@import "font-awesome";


.booyah-box {
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
    -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
    box-shadow: 1px 1px 2px 0 #d0d0d0;
    background: #fff;
    border: 1px solid #ccc;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
  }

  body {
    background: image_url('hypnotize.png');
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  }

  .navbar {
    background: image_url('rubber_grip.png');
    box-shadow: 1px 1px 6px 0 rgba(0,0,0,0.2);
  }

  .navbar-inverse .navbar-brand {
    color: #77D1C9;
    font-family: 'asap_condensedregular', sans-serif;
    font-size: 30px;
    font-weight: 400;
  }

  
  .pagination {
    cursor: default;
    height: 22px;
    margin-bottom: 20px;
    margin-left: 10px;
    a, span, em {
      padding: 2px;
      display: block;
      float: left;
      margin-right: 3px;
      }
    .disabled {
      display: none;
      }
    .current {
      font-style: normal;
      font-weight: bold;
      background: #77D1C9;
      color: white;
      border: 1px solid #77D1C9;
      }
    a {
      text-decoration: none;
      background: white;
      color: rgb(35, 87, 82);
      border: 1px solid hsl(183, 37%, 81%);
      &:hover, &:focus {
        color: #000033;
        border-color: #000033;
      }
    }
    .page_info {
      background: #77D1C9;
      color: white;
      padding: 0.4em 0.6em;
      width: 22em;
      margin-bottom: 0.3em;
      text-align: center;
      b {
        color: #000033;
        background: rgb(35, 87, 82) + 60;
        padding: 0.1em 0.25em;
      }
    }
   }

.invalid-feedback {
    color: #ff3333;
    background-color: #FFEEEE;
    border-radius: 3px;
    padding: 2px 8px 2px 8px;
  }

  #map {
    height: 300px;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .clear {
    clear: both;
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  
  blockquote p {
    display: inline;
  }